<header style="
    background: #000;
    color: #fff;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.05);
    padding-top: .1em;
    padding-right: calc(29% - 10rem);
    padding-bottom: 0.35em;
    padding-left: calc(30% - 12rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, sans-serif;
    font-size: calc(0.8rem + 0.25vw);
    font-weight: 400;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
        ">
  <h2 style="
        margin: 0;
        font-weight: 1000;
        display: block;
    font-size: 1.4em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
        color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, sans-serif;
      -webkit-font-smoothing: antialiased;
      ">
    <a style="
        margin: 0; 
        font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, sans-serif;
        font-weight: 1000;
        display: block;
    font-size: 1.5em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
    -webkit-font-smoothing: antialiased;"
    href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h2>
  {% if site.navigation %}
    <nav style=" margin-top: 0.5em;
                margin-right: -0.8em;
                margin-bottom: 0.5em;
                margin-left: -0.8em;
                font-size: calc(0.8rem + 0.25vw);
    font-weight: 400;
    line-height: 1.65;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;">
    {% for path in site.navigation %}
      {% if path.first %}
        <a style="color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, sans-serif;
        padding: 0 0.8em;
        color: inherit;
    text-decoration: inherit;
    transition: color 0.2s;
    font-family: -apple-system, BlinkMacSystemFont,Helvetica Neue, Segoe UI, Roboto, sans-serif;
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 400;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;"
          href="{{ path.first[1] }}">{{ path.first[0] }}</a>
      {% else %}
        {% assign node = site.pages | where: "name", path | first %}<a href="{{ node.url | relative_url }}">{{ node.title }}</a>
      {% endif %}
    {% endfor %}
    </nav>
  {% endif %}
  {% if site.icons %}
    <nav>
    {% for link in site.icons %}
      <a style="color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, sans-serif;
        padding: 0 0.8em;
        color: inherit;
    text-decoration: inherit;
    transition: color 0.2s;
    font-family: -apple-system, BlinkMacSystemFont,Helvetica Neue, Segoe UI, Roboto, sans-serif;
    font-size: calc(0.8rem + 0.25vw);
    font-weight: 400;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;"
          class="icon" href="{{ link[1] }}"><svg><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ link[0] }}"></use></svg></a>
    {% endfor %}
    </nav>
  {% endif %}

</header>

<article>
  <header style="
    background: #fff;
    color: #000;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.05);
    padding-top: .1em;
    padding-right: calc(31% - 15rem);
    padding-bottom: 0.35em;
    padding-left: calc(30% - 12rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Roboto, sans-serif;
    font-size: calc(0.8rem + 0.25vw);
    font-weight: 400;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
        ">
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
    <h1 style="
    margin: 0;
    font-weight: 1000;
    font-size: 1.9em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #282828;
    ">
        <a style="
        color: inherit;
        text-decoration: inherit;
        transition: color .2s;
        font-weight: 1000;
        font-size: 1.4em;
        font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Roboto,sans-serif;
        line-height: 1.65;
        -webkit-font-smoothing: antialiased;
        " href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
    <p style="
    margin-top: .3em;
    margin-bottom: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Roboto,sans-serif;
    font-weight: 500;
    line-height: 1.65;
    -webkit-font-smoothing: antialiased;
    color: #282828;
    ">
        <time style="color: #949494;
        font-size: calc(0.7rem + 0.6vw);
        font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Roboto,sans-serif;
    font-weight: 400;
    line-height: 1.65;" 
        datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time></p>
  </header>

{% if page.text %}
  <p style="
    padding: .35em calc(32% - 16rem);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Roboto,sans-serif;
    font-size: calc(0.7rem + 0.6vw);
    font-weight: 400;
    line-height: 1.65;
    color: #282828;
  ">
      {{page.text}}
  </p>
{% endif %}


</article>
